* {
  box-sizing: border-box;
}

.row {
    width: 100%;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
   
}

/* Create two equal columns that float next to each other */
.column {
    background-color: #110D64;
    float: left;
    width: 50%;
    height: 17em;
    padding-top: 1%;
    color: #fff;
}

#left-column {
    /* border: 2px solid red; */
    padding: 4.5% 0 0 6%;
}

.useful-links {
    padding-top: 2em;
}

#left-column > ul.useful-links > li {
    padding-top: 1%;
}

#left-column > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

#right-column {
    /* border: 2px solid green; */
    padding-right: 6%;
    text-align: right;
}

#right-column h3 {
    padding-right: 6%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.code4ro-img-and-text {
    margin-top: 5%;
    /* margin-right: 9%; */
}

.inner {
    display: inline-block;
    width: 10%;
    /* background: green; */
  vertical-align: middle;
  }

p.inner {
    /* padding-right: 4.5em; */
    color: #bebebe;
    line-height: 1.2;
    font-size: 0.9em;
    font-family: 'Titillium Web', sans-serif;
}

img.inner {
    width: 39px;
    height: 32px; 
}

.code4ro-copyright-ngo-description {
    margin-top: 2%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}
